.title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #000000;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(255, 255, 205);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  margin: 1.5rem 0;
  padding: 0;
  border-radius: 20px;
  color: #2b2a2a;
  box-shadow: 1px 2px 5px rgb(0, 0, 0);
  text-align: center;
}

p {
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 0.5rem 1rem;
  color: black;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgb(0, 0, 0);
}

img {
  padding: 0.5rem 1rem;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px 0px;
}

nav a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
  background-color: rgb(253, 253, 253);
  display: inline-block;
  border: 0.5px solid #27272788;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 8px;
}

nav a:hover,
nav a:focus {
  font-size: 1.1rem;
  color: #56a8ff;
}

#sissejuhatus h2 {
  background-color: rgb(137, 239, 234);
  text-align: center;
}

#sissejuhatus {
  background-color: rgb(137, 239, 234);
}

#teooria h2 {
  background-color: lightcoral;
  text-align: center;
}

#teooria {
  background-color: lightcoral;
}

#video h2 {
  background-color: lightblue;
  text-align: center;
}

#video {
  background-color: lightblue;
}

video {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 0.5rem;
}

#kontakt h2 {
  background: lightskyblue;
  text-align: center;
}

#kontakt {
  background: lightskyblue;
}
.skip-link {
  float: right;
  padding: 0.5rem 1.5rem;
}

footer {
  background-color: rgb(255, 255, 176);
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}
